#OS.GENERATED.FILES
.DS_Store
.ds_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db 
Thumbs.db

#.Debug.files
*.log
*.sql
#WordPress.standard.files/folders
uploads
upgrade

#Wordpress.plugin.folders
plugins/current-template-file
plugins/gutenberg

#SRC.FILES/folder
node_modules
